---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
		<body>
		<h1 class="blog-title">nikita o'keeffe<span class="red">;</span> a personal / dev website<span class="red">.</span></h1>
		<ul>
			<li class="links"><a href="/blog">my blog</a></li>
			<li class="links"><a href="https://www.github.com/nikitao13" target="_blank">github</a></li>
			<li class="links"><a href="https://www.linkedin.com/in/nikitaokeeffe" target="_blank">linkedIn</a></li>
		</ul>
	</body>
</BaseLayout>
