---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CatIntro from "@/components/home/CatIntro.astro";
import HomeHero from "@/components/home/HomeHero.astro";
import CurrentlyDoing from "@/components/home/CurrentlyDoing.astro";
import TerminalClaude from "@/components/terminal/TerminalClaude.astro";


---

<BaseLayout preloadCat>
  <CatIntro />

  <div class="home-content">
    <HomeHero />
    <CurrentlyDoing />
		<TerminalClaude output="try a dragon punch." model="claude@fable" />	
</div>
</BaseLayout>