---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CatIntro from "@/components/home/CatIntro.astro";
import HomeHero from "@/components/home/HomeHero.astro";
import CurrentlyDoing from "@/components/home/CurrentlyDoing.astro";
---

<BaseLayout preloadCat>
	<CatIntro />
  <div class="home-content">
    <HomeHero />
		<CurrentlyDoing />
	</div>
</BaseLayout>