---
import BuildInfo from "@/components/home/BuildInfo.astro";
import Links from "@/components/home/Links.astro";
---

<h1 class="blog-title">
  nikita o'keeffe<span class="red">;</span> a personal/dev website<span class="red">.</span>
</h1>
		
<BuildInfo />
<Links />