---
const blog = "/blog";
const github = "https://www.github.com/nikitao13";
const linkedIn = "https://www.linkedin.com/in/nikitaokeeffe"
---

<ul>
  <li class="links"><a href={blog} rel="prefetch">my blog</a></li>
  <li class="links"><a href={github} target="_blank">github</a></li>
  <li class="links"><a href={linkedIn} target="_blank">linkedIn</a></li>
</ul>

<br />