---
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<article>
  <h1 class="blog-title">{post.data.title}</h1>
  <h2 class="blog-subtitle">{post.data.subtitle}</h2>

  <div class="blog-content typeset typeset-blog">
    <Content />
  </div>
</article>