---
import { Font } from "astro:assets";
import "@/styles/global.css";

const { title = "nikitao13" } = Astro.props;
---

<html lang="en">
  <head>
    <Font cssVariable="--font-lora" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>